<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>CHRONOCOVE_Admin</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.4/cropper.min.css'>

    <!-- Libraries Stylesheet -->
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/stylesheets/adminbootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/stylesheets/adminstyle.css" rel="stylesheet">
</head>

<body>

    <!-- cropper modal -->
    <div id="cropper110Modal">
        <div id="imageCropBox">
            <div style="text-align: end;">
                <button class="cropper110-close">close</button>
            </div>
            <section class="cropper110-page">
                <div class="cropper110-box">
                    <div class="cropper110-cropping-box"></div>
                </div>

                <div>
                    <button class="cropper110-crop mx-3">Crop</button>
                </div>
            </section>
        </div>
    </div>
    <!-- /cropper modal/  -->

    <div class="container-fluid position-relative d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner"
            class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-secondary navbar-dark">
                <a href="index.html" class="navbar-brand mx-4 mb-3">
                    <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>CHRONOCOVE</h3>
                </a>
                <div class="d-flex align-items-center ms-4 mb-4">
                    <div class="position-relative">
                        <img class="rounded-circle" src="/images/user.jpg" alt="" style="width: 40px; height: 40px;">
                        <div
                            class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1">
                        </div>
                    </div>
                    <div class="ms-3">
                        <h6 class="mb-0">Jhon Doe</h6>
                        <span>Admin</span>
                    </div>
                </div>
                <div class="navbar-nav w-100">
                    <a href="/admin/dashboard" class="nav-item nav-link "><i
                            class="fa fa-tachometer-alt me-2"></i>Dashboard</a>

                    <a href="/admin/usermanagement" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Users </a>
                    <a href="/admin/categorymanagement" class="nav-item nav-link "><i
                            class="fa fa-keyboard me-2"></i>Category </a>
                    <a href="/admin/productmanagement" class="nav-item nav-link active"><i
                            class="fa fa-table me-2"></i>Product </a>
                    <a href="/admin/orderManagement" class="nav-item nav-link"><i class="fa fa-table me-2"></i>Order</a>
                    <a href="/admin/couponManagement" class="nav-item nav-link"><i class="fa fa-table me-2"></i>Coupon</a>

                    <!-- <a href="chart.html" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Charts</a> -->
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i
                                class="far fa-file-alt me-2"></i>Pages</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="signin.html" class="dropdown-item">Sign In</a>
                            <a href="signup.html" class="dropdown-item">Sign Up</a>
                            <a href="404.html" class="dropdown-item">404 Error</a>
                            <a href="blank.html" class="dropdown-item">Blank Page</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <!-- Sidebar End -->



        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
                <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
                    <h2 class="text-primary mb-0"><i class="fa fa-user-edit"></i></h2>
                </a>
                <a href="#" class="sidebar-toggler flex-shrink-0">
                    <i class="fa fa-bars"></i>
                </a>
                <form class="d-none d-md-flex ms-4">
                    <input class="form-control bg-dark border-0" type="search" placeholder="Search">
                </form>
                <div class="navbar-nav align-items-center ms-auto">
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fa fa-envelope me-lg-2"></i>
                            <span class="d-none d-lg-inline-flex">Message</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle" src="/images/user.jpg" alt=""
                                        style="width: 40px; height: 40px;">
                                    <div class="ms-2">
                                        <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                </div>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle" src="/images/user.jpg" alt=""
                                        style="width: 40px; height: 40px;">
                                    <div class="ms-2">
                                        <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                </div>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle" src="/images/user.jpg" alt=""
                                        style="width: 40px; height: 40px;">
                                    <div class="ms-2">
                                        <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                </div>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item text-center">See all message</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fa fa-bell me-lg-2"></i>
                            <span class="d-none d-lg-inline-flex">Notificatin</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">Profile updated</h6>
                                <small>15 minutes ago</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">New user added</h6>
                                <small>15 minutes ago</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">Password changed</h6>
                                <small>15 minutes ago</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item text-center">See all notifications</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <img class="rounded-circle me-lg-2" src="/images/user.jpg" alt=""
                                style="width: 40px; height: 40px;">
                            <span class="d-none d-lg-inline-flex">John Doe</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">My Profile</a>
                            <a href="#" class="dropdown-item">Settings</a>
                            <a href="#" class="dropdown-item">Log Out</a>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- Navbar End -->


            <!-- Edit_Product Form Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-header bg-primary text-white">
                                <h5>Edit Product</h5>
                            </div>
                            <div class="card-body">
                                <% if (typeof error !=='undefined' && error !=='' ) { %>
                                    <div class="alert alert-danger" role="alert">
                                        <%= locals.error %>
                                    </div>
                                    <% } %>
                                        <form onsubmit="return validateForm()"
                                            action="/admin/editProductPost/<%= product ? product._id : '' %>"
                                            method="post" enctype="multipart/form-data">

                                            <div class="mb-3">
                                                <label for="productName">Product Name:</label>
                                                <input type="text" class="form-control" id="productName"
                                                    value="<%= product ? product.productName : '' %>" name="productName"
                                                    required>
                                            </div>

                                            <div class="mb-3">
                                                <label for="productDescription">Product Description:</label>
                                                <textarea class="form-control" id="productDescription"
                                                    name="productDescription" rows="3"
                                                    required><%= product && product.productDescription ? product.productDescription : '' %></textarea>
                                            </div>

                                            <div class="mb-3">
                                                <label for="productCategory" class="form-label">Product Category</label>
                                                <select class="form-control" id="productCategory" name="productCategory"
                                                    required>
                                                    <% categories.forEach(category=> { %>
                                                        <option value="<%= category.categoryName %>" <% if (product &&
                                                            product.productCategory===category.categoryName) { %>
                                                            selected<% } %>><%= category.categoryName %>
                                                        </option>
                                                        <% }); %>
                                                </select>
                                            </div>


                                            <!-- Existing Main Product Image -->
                                            <div class="mb-3 image-container">

                                                <label>Current Main Product Image:</label>
                                                <div id="imagePreviewMain" class="imagePreviewDivMain">
                                                    <img src="<%= product.mainProductImagePath ? product.mainProductImagePath : '' %>"
                                                        alt="Main Product Image" class="img-thumbnail">
                                                    <button class="delete-main"
                                                        onclick="deleteMain('product.mainProductImagePath', this)"
                                                        type="button">delete</button>
                                                </div>
                                            </div>

                                            <!-- Upload New Main Product Image -->
                                            <div class="mb-3">
                                                <label for="mainProductImage">Upload New Main Product Image:</label>

                                                <input type="file" id="fileUploader" name="mainProductImage"
                                                    data-image-preview="#imagePreviewMain" accept=".jpg,.png,.jpeg"
                                                    multiple>

                                            </div>

                                            <!-- Existing Additional Product Images -->
                                            <div class="mb-3 image-container" id="additionalContainer">
                                                <label>Current Additional Product Images:</label>
                                                <div id="imagePreview">
                                                <% if (product.additionalProductImagePaths &&
                                                    product.additionalProductImagePaths.length> 0) { %>
                                                    <% product.additionalProductImagePaths.forEach(imagePath=> { %>
                                                        
                                                            <div class="image-container">
                                                                <img src="<%= imagePath %>"
                                                                    alt="Additional Product Image" class="img-thumbnail"
                                                                    data-img-path="<%= imagePath %>"
                                                                    style="max-width: 100px;">
                                                                
                                                            </div>
                                                            <% }); %>
                                                            <% } else { %>
                                                                <p>No additional images.</p>
                                                                <% } %>
                                                </div>
                                            </div>

                                            <!-- Upload New Additional Product Images -->
                                            <div class="mb-3">
                                                <label for="additionalProductImage">Upload New Additional Product
                                                    Images:</label>
                                                <input type="file" id="fileUploader" name="additionalProductImage"
                                                    data-image-preview="#imagePreview" accept=".jpg,.png,.jpeg"
                                                    multiple>

                                            </div>
                                            <div class="mb-3">
                                                <label for="productQuantity">Product Quantity:</label>
                                                <input type="number" class="form-control" id="productQuantity"
                                                    value="<%= product && product.productQuantity ? product.productQuantity : '' %>"
                                                    name="productQuantity" oninput="validateNumber(this)">
                                            </div>

                                            <div class="mb-3">
                                                <input type="text" class="form-control" id="deleteImage" value=""
                                                    name="deleteImage" hidden>
                                            </div>

                                            <div class="mb-3">
                                                <input type="text" class="form-control" id="deleteMainImage" value=""
                                                    name="deleteMainImage" hidden>
                                            </div>

                                            <div class="mb-3">
                                                <label for="productPrice">Product Price:</label>
                                                <input type="number" class="form-control" id="productPrice"
                                                    value="<%= product && product.productPrice ? product.productPrice : '' %>"
                                                    name="productPrice" required oninput="validateNumber(this)">
                                            </div>


                                            <button type="submit" class="btn btn-primary">Save</button>
                                        </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Edit_Product Form End -->


            <!-- Footer Start -->
            <div class="container-fluid pt-4 px-4  ">
                <div class="bg-secondary rounded-top p-4">
                    <div class="row">
                        <div class="col-12 col-sm-6 text-center text-sm-start">
                            &copy; <a href="#">Your Site Name</a>, All Right Reserved.
                        </div>
                        <div class="col-12 col-sm-6 text-center text-sm-end">
                            <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                            Designed By <a href="https://htmlcodex.com">HTML Codex</a>
                            <br>Distributed By: <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer End -->
        </div>
        <!-- Content End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>


    <script src='https://cdnjs.cloudflare.com/ajax/libs/cropperjs/0.8.1/cropper.min.js'></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/lib/chart/chart.min.js"></script>
    <script src="/lib/easing/easing.min.js"></script>
    <script src="/lib/waypoints/waypoints.min.js"></script>
    <script src="/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/lib/tempusdominus/js/moment.min.js"></script>
    <script src="/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="/javascripts/adminmain.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/cropperjs/0.8.1/cropper.min.js'></script>
    <script src="/javascripts/cropper110Edit.js"></script>


    <script>
        let mainImgArr = []
        let deleteImgArr = [];
        function validateForm() {
            var productName = document.getElementById('productName').value.trim();
            var productDescription = document.getElementById('productDescription').value.trim();
            var productCategory = document.getElementById('productCategory').value.trim();
            var mainProductImage = document.getElementById('mainProductImage')
            var productPrice = document.getElementById('productPrice').value.trim();
            var productQuantity = document.getElementById('productQuantity').value.trim();
            var additionalProductImage = document.getElementById('additionalProductImage')
            let additionalContainer = document.getElementById('additionalContainer')


            if (productName === '') {
                alert('Please enter the product name.');
                return false;
            }

            if (productDescription === '') {
                alert('Please enter the product description.');
                return false;
            }

            if (productCategory === '') {
                alert('Please select a product category.');
                return false;
            }

            // if (mainProductImage === '') {
            //     alert('Please upload a main product image.');
            //     return false;
            // } else if (!isValidImage(mainProductImage)) {
            //     alert('Please upload a PNG or JPEG image for the main product image.');
            //     return false;
            // }

            if (productPrice === '' || isNaN(productPrice) || parseFloat(productPrice) <= 0) {
                alert('Please enter a valid  product price.');
                return false;
            }

            if (productQuantity === '' || isNaN(productQuantity) || parseInt(productQuantity) < 0) {
                alert('Please enter a valid product quantity.');
                return false;
            }

            if (additionalContainer.children.length < 2 && document.getElementById('additionalProductImage').files.length === 0) {
                document.getElementById('additionalProductImage').required = true
                alert('Please upload a additional image');
                return false;
            }

            if (mainImgArr.length === 1 && mainProductImage.files.length === 0) {
                mainProductImage.required = true
                alert('Please upload main image');
                return false;
            }


            //   if (!isValidImage(additionalProductImage)) {
            //         alert('Please upload PNG or JPEG images for additional product images.');
            //         return false;
            //     }

            if (deleteImgArr.length) {
                let deleteImageInput = document.getElementById('deleteImage')
                deleteImageInput.value = JSON.stringify(deleteImgArr)
                deleteImgArr = []
                console.log('delete image array has ....')
            }
            if (mainImgArr.length) {
                let mainImageInput = document.getElementById('deleteMainImage')
                mainImageInput.value = JSON.stringify(mainImgArr)
                mainImgArr = []
            }







            // If all validations pass, you can submit the form
            return true;
        }

        function isValidImage(filePath) {
            var allowedExtensions = /(\.png|\.jpeg|\.jpg)$/i;
            return allowedExtensions.exec(filePath) !== null;
        }

        //Image deletion

        var deleteBtns = document.querySelectorAll('.delete-button');
        for (var i = 0; i < deleteBtns.length; i++) {
            deleteBtns[i].addEventListener('click', function (event) {
                // Get the parent element of the delete button
                var parent = event.target.parentElement;

                // Delete the image
                var img = parent.querySelector('img');
                let path = img.dataset.imgPath

                deleteImgArr.push(path)

                parent.remove();

                // Remove the delete button
                // parent.removeChild(event.target);
            });
        }

        function deleteMain(path, elem) {
            mainImgArr.push(path)

            var parent = elem.parentElement;

            // Delete the image
            var img = parent.querySelector('img');

            img.remove();

            // Remove the delete button
            parent.removeChild(elem);
        }

    </script>

</body>

</html>