<!DOCTYPE html>
<html lang="en">

<%-include("../partials/head.ejs")%>
<body>

  <%-include("../partials/headers.ejs")%>

  
  <div class="site-section">
    <div class="container">
      <div class="row mb-5">
        <form class="col-md-12" method="post">
          <div class="site-blocks-table">
            <% if ((locals.populatedCart?.items ?? []).length > 0) { %>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th class="product-thumbnail">IMAGE</th>
                  <th class="product-name">PRODUCT</th>
                  <th class="product-price">PRICE</th>
                  <th class="product-quantity">QUANTITY</th>
                  <th class="product-total">TOTAL</th>
                  <th class="product-remove">REMOVE</th>
                </tr>
              </thead>
              <tbody>
                <% populatedCart.items.forEach(item => { %>
                    <tr>
                      <td class="product-thumbnail">
                        <img src="/uploads/<%= item.mainProductImage %>" alt="Image" class="img-fluid">
                      </td>
                      <td class="product-name">
                        <h2 class="h5 text-black">
                          <%= item.productName %>
                        </h2>
                      </td>
                      <td>
                        $<%= item.productPrice %>
                      </td>
                      <td>
                        <div class="input-group mb-3" style="max-width: 120px;">
                          <div class="input-group-prepend">
                            <button class="btn btn-outline-primary" onclick="updateProductQuantity('<%= item.productId %>', -1)" type="button">&minus;</button>
                          </div>
                          <input type="text" class="form-control text-center" id="quantity-<%= item.productId %>" value="<%= item.quantity %>" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
                          <div class="input-group-append">
                            <button class="btn btn-outline-primary" onclick="updateProductQuantity('<%= item.productId %>', 1)" type="button">&plus;</button>
                          </div>
                        </div>
                      </td>
                      <td >
                       <p id="<%=item.productId%>"> <% totalPrice.forEach(price => { %>
                         
                          <% if (price._id.equals(item.productId)) { %>
                            $<%= price.totalPrice %>
                          <% } %>
                        <% }); %></p>
                    
                      </td>
                      <td id="populatedCart-<%= item.productId %>">
                        <a href="/cartGet" class="btn btn-primary btn-sm" onclick="deleteCartProduct('<%= item.productId %>')">X</a>
                      </td>
                    </tr>
                  <% }); %>
                <% } else { %>
                   <h1 style="color: red; overflow: hidden;"> No products in the cart!</h1>
                <% } %>
              </tbody>
              

            </table>
          </div>
        </form>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="row mb-5">
            <!-- <div class="col-md-6 mb-3 mb-md-0">
              <button class="btn btn-primary btn-sm btn-block">Update Cart</button>
            </div> -->
            <div class="col-md-6">
              <button class="btn btn-outline-primary btn-sm btn-block" onclick="window.location='/'">Continue
                Shopping</button>
            </div>
          </div>
          <!-- <div class="row">
              <div class="col-md-12">
                <label class="text-black h4" for="coupon">Coupon</label>
                <p>Enter your coupon code if you have one.</p>
              </div>
              <div class="col-md-8 mb-3 mb-md-0">
                <input type="text" class="form-control py-3" id="coupon" placeholder="Coupon Code">
              </div>
              <div class="col-md-4">
                <button class="btn btn-primary btn-sm">Apply Coupon</button>
              </div>
            </div> -->
        </div>
        <div class="col-md-6 pl-5">
          <div class="row justify-content-end">
            <div class="col-md-7">
              <div class="row">
                <div class="col-md-12 text-right border-bottom mb-5">
                  <h3 class="text-black h4 text-uppercase">Cart Totals</h3>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-6">
                  <span class="text-black">Subtotal</span>
                </div>
                <div class="col-md-6 text-right">
                  <strong class="text-black">$<%=total%></strong>
                </div>
              </div>
              <div class="row mb-5">
                <div class="col-md-6">
                  <span class="text-black">Total</span>
                </div>
                <div class="col-md-6 text-right">
                  <strong class="text-black">$<%=total%></strong>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <% if (locals.populatedCart?.items?.length > 0) { %>
                    <button class="btn btn-primary btn-lg py-3 btn-block" onclick="window.location='/checkout'">Proceed To Checkout</button>
                <% } else { %>
                    <button class="btn btn-primary btn-lg py-3 btn-block" disabled>Proceed To Checkout</button>
                <% } %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%-include("../partials/footer.ejs")%>

  </div>

  <script src="/javascripts/jquery-3.3.1.min.js"></script>
  <script src="/javascripts/jquery-ui.js"></script>
  <script src="/javascripts/popper.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
  <script src="/javascripts/owl.carousel.min.js"></script>
  <script src="/javascripts/jquery.magnific-popup.min.js"></script>
  <script src="/javascripts/aos.js"></script>
  <script src="/javascripts/main.js"></script>

</body>

</html>

<script>
  const updateProductQuantity = (productId, quantity) => {
    const productQtyInput = document.getElementById('quantity-' + productId);
    const productQty = parseInt(productQtyInput.value);
    const newQuantity = productQty + quantity;
    if (newQuantity < 1) return alert("Out of stock!!");
    if (newQuantity > 100) return alert("Can't add this much quantity!!");

    fetch(`/cart/${productId}`, {
      method: "PUT",
      body: JSON.stringify({ quantity: newQuantity }),
      headers: { "Content-Type": "application/json" }
    })
      .then(res => res.json())
      .then(data => {
        if (data.success) {
          console.log("Data")
          productQtyInput.value = newQuantity;
          document.getElementById(productId).innerHTML = data.total

          
         }
      })
      .catch(err => alert(err.message));
  }



  //Close Button 

  const deleteCartProduct = (productId) => {
    fetch(`/cart/${productId}`, {
      method: "DELETE",
      headers: {
        "Content-Type": "application/json"
      },
    })
      .then(res => {
        if (!res.ok) {
          throw new Error(`HTTP error! Status: ${res.status}`);
        }
        return res.json();
      })
      .then(data => {
        console.log('Data:', data)
        if (data.success) {
          const productRow = document.getElementById(`populatedCart-${productId}`)
          
          if (productRow) {
            productRow.remove();
          }
        } else {
          alert(`Failed to delete product.`);
        }
      })
      .catch(err => {
        console.error("Error deleting product:", err);
        alert("An error occurred. Please try again!!");
      });

  }
</script>