<!DOCTYPE html>
<html lang="en">

<head>
  <title> CHRONOCOVE</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">

  <link rel="stylesheet" href="/fonts/icomoon/style.css">



  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/magnific-popup.css">
  <link rel="stylesheet" href="/stylesheets/jquery-ui.css">
  <link rel="stylesheet" href="/stylesheets/owl.carousel.min.css">
  <link rel="stylesheet" href="/stylesheets/owl.theme.default.min.css">
  <link rel="stylesheet" href="/stylesheets/checkout.css">



  <link rel="stylesheet" href="/stylesheets/aos.css">

  <link rel="stylesheet" href="/stylesheets/style.css">

  <link rel="stylesheet" href="/stylesheets/aos.css">


</head>

<body>

  <div class="site-wrap">
    <header class="site-navbar" role="banner">
      <div class="site-navbar-top">
        <div class="container">
          <div class="row align-items-center">

            <div class="col-6 col-md-4 order-2 order-md-1 site-search-icon text-left">
              <form action="" class="site-block-top-search">
                <span class="icon icon-search2"></span>
                <input type="text" class="form-control border-0" placeholder="Search">
              </form>
            </div>

            <div class="col-12 mb-3 mb-md-0 col-md-4 order-1 order-md-2 text-center">
              <div class="site-logo">
                <a href="/" class="js-logo-clone">CHRONOCOVE</a>
              </div>
            </div>

            <div class="col-6 col-md-4 order-3 order-md-3 text-right">
              <div class="site-top-icons">
                <ul>
                  <li><a href="/profile"><span class="icon icon-person"></span></a></li>
                  <li><a href="/wishlist"><span class="icon icon-heart-o"></span></a></li>
                  <li>
                    <a href="/cartGet" class="site-cart">
                      <span class="icon icon-shopping_cart"></span>
                      <span class="count">2</span>
                    </a>
                  </li>
                  <li class="d-inline-block d-md-none ml-md-0"><a href="#" class="site-menu-toggle js-menu-toggle"><span
                        class="icon-menu"></span></a></li>
                </ul>

              </div>
            </div>
          </div>
        </div>

      </div>
      <nav class="site-navigation text-right text-md-center" role="navigation">
        <div class="container">
          <ul class="site-menu js-clone-nav d-none d-md-block">
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/about">About</a>
            </li>
            <li><a href="/shop">Shop</a></li>
            <li><a href="#">Search</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div>
        <div class="col-12 text-right">

        </div>
  </div>
  </nav>
  </header>

  <!-- <div class="bg-light py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mb-0"><a href="index.ejs">Home</a> <span class="mx-2 mb-0">/</span> <a
            href="cart.ejs">Cart</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Checkout</strong></div>
      </div>
    </div>
  </div> -->
  <!-----------------------Add_Address-------------------------------------------------->

  <!-- <div class="site-section "> -->
  <div class="d-flex justify-content-between align-items-center mt-0">
    <div class="container-fluid">
      <div class="row ">
        <div class="col-md-12 ">
          <h2 class="h3 mb-3 text-black">Add address</h2>
          <form method="post" action="/addAddressPost" onsubmit="return validateAddressForm()">
            <div class="py-2">

              <div class="form-group">
                <label for="c_diff_country" class="text-black">Country <span class="text-danger">*</span></label>
                <select id="country" name="country" class="form-control">
                  <option value="Select a country">Select a country</option>
                  <option value="India">India</option>
                  <option value="USA">USA</option>
                  <option value="Germany">Germany</option>
                  <option value="Ghana">Ghana</option>
                  <option value="Albania">Albania</option>
                  <option value="Bahrain">Bahrain</option>
                  <option value="Colombia">Colombia</option>
                  <option value="Paris">Paris</option>
                </select>
              </div>


              <div class="form-group row">
                <div class="col-md-6">
                  <label for="c_diff_fname" class="text-black">First Name <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="firstName" name="firstName">
                </div>
                <div class="col-md-6">
                  <label for="c_diff_lname" class="text-black">Last Name <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="lastName" name="lastName">
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-12">
                  <label for="c_diff_address" class="text-black">Address <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="address" name="address" placeholder=" Address">
                </div>
              </div>

              <div class="form-group">
                <input type="text" class="form-control" name="landmark" id="landmark" placeholder="Land mark">
              </div>

              <div class="form-group row">
                <div class="col-md-6">
                  <label for="c_diff_state_country" class="text-black">State <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="state" name="state">
                </div>
                <div class="col-md-6">
                  <label for="c_diff_postal_zip" class="text-black">Posta / Zip <span
                      class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="zip" name="zip">
                </div>
              </div>

              <div class="form-group row mb-5">
                <div class="col-md-6">
                  <label for="c_diff_email_address" class="text-black">Email Address <span
                      class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="email" name="email">
                </div>
                <div class="col-md-6">
                  <label for="c_diff_phone" class="text-black">Phone <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone Number">
                </div>
              </div>

            </div>

            <div class="form-group">
              <button class="btn btn-primary btn-lg py-3 btn-block" type="submit" name="saveAdd"
                id="saveAdd">Save</button>

            </div>
            <!-- </div> -->

          </form>

        </div>


      </div>
      <!-----------------------------------End_Add_Address-------------------------------------------------->
      <!----------------------------------------COUPON---------------------------------------------------------->
      <div class="row mb-5">

        <div class="col-md-12">
          <h2 class="h3 mb-3 text-black">Coupon Code</h2>
          <div class="p-3 p-lg-5 border">

            <label for="c_code" class="text-black mb-3">Enter your coupon code if you have one</label>
            <div class="input-group w-75">
              <input type="text" class="form-control border" name="couponCode" id="couponCodeInput"
              placeholder="Coupon code" >
              <div class="input-group-append">
                <button class="btn btn-primary btn-sm" type="submit" id="applyCouponButton">Apply</button>
              </div>
            </div>
            <div class="form-group">
              <label class="form-label">Available Coupons:</label>
              <select class="form-select" id="availableCoupons">
                <option value="">Select a coupon</option>
                <% coupons.forEach(function(coupon) { %>
                  <option value="<%= coupon.couponName %>">
                    <%= coupon.couponName %>
                  </option>
                  <% }); %>
              </select>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!-------------------------------------COUPON---------------------------------------------------------->

    <!----------------------------------Select_Address--------------------------------------->
    <!-- Address Card -->
    <div class="col-md-6">
      <form action="/checkoutPost" method="POST" id="addressForm">
        <div class="row mb-5 ">
          <div class="col-md-12">
            <h2 class="h3 mb-3 mt-5 text-black">Address Card</h2>

            <div class="row">
              <% (locals.userAddress?.Address ?? []).forEach(ad=> { %> 
                  <div class="col-md-6 mb-4"   >
                    <div class="address-card   p-3 rounded text-black "
                      onclick="selectAddress('<%= ad._id %>')" style="  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;">
                      <div class="address-title font-weight-bold ">Address</div>

                      <strong>
                        <%= ad.firstName %>
                          <%= ad.lastName %><br>
                      </strong>
                      <strong>
                        <%= ad.address %>
                      </strong><br>
                      <strong>
                        <%= ad.landmark %>
                      </strong><br>
                      <strong>
                        <%= ad.state %>
                      </strong><br>
                      <strong>
                        <%= ad.zip %>
                      </strong><br>
                      <strong class="text-truncate">
                        <%= ad.email %>
                      </strong><br>
                      <strong>
                        <%= ad.phone %>
                      </strong><br>

                      <!-- Radio button for each address -->
                      <input type="radio" name="selectedAddress" value="<%= ad._id %>">
                    </div>
                  </div>
                  <% }) %>
                     
            </div>
     </div>

  </div>
   <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 ">
        <h2 class="h3 mb-3 text-black">Your Order</h2>
         <div class="p-3 p-lg-5 border">
          <table class="table site-block-order-table mb-5">
            <thead>
              <th>Product</th>
              <th>Total</th>
            </thead>
            <% populatedCart.items.forEach(item=> { %>
              <tbody>
                <tr>
                  <td>
                    <%= item.productName %><strong class="mx-2">X</strong>
                      <%= item.quantity %>
                        <input type="hidden" name="productName[]" value="<%= item.productId %>">
                          <script>
                            console.log('<%= item.productId%>');
                        </script>
                        <input type="hidden" name="quantity[]" value="<%= item.quantity %>">
                  </td>
                  <td>
                    <% totalPrice.forEach(price=> { %>
                      <% if (price._id.equals(item.productId)) { %>
                        $<%= price.totalPrice %>
                          <input type="hidden" name="totalPrice[]" value="<%= price.totalPrice %>">
                          <% } %>
                            <% }); %>
                  </td>
                </tr>
              </tbody>
              <% }); %>

                <tr>
                  <td class="text-black font-weight-bold"><strong>Order Total</strong></td>
                  <td class="text-black font-weight-bold" id="totalPrice"><strong>$<%= total %></strong>
                    <input type="hidden" name="total" value="<%= total %>">
                  </td>
                </tr>
          </table>

          <input type="hidden" name="paymentMethod" id="paymentMethod" value="">

          <div class="row" style="width:100%;">
            <div class="col-12">
              <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action " name="paymentType" id="list-home-list" data-method="CashOnDelivery"
                  data-toggle="list" href="#" role="tab" aria-controls="home">Cash On
                  Delivery</a>
                <a class="list-group-item list-group-item-action" name="paymentType" id="list-profile-list" data-method="NetBanking"
                  data-toggle="list" href="#" role="tab" aria-controls="profile">NetBanking</a>
                <a class="list-group-item list-group-item-action" name="paymentType" id="list-profile-list" data-method="Wallet"
                  data-toggle="list" href="#" role="tab" aria-controls="profile"> Wallet</a>
              </div>
            </div>
          </div>
          <div class="form-group" style="margin-top: 50px;">
            <button type="submit" class="btn btn-primary btn-lg py-3 btn-block" id="placeOrderBtn">Place
              Order</button>
          </div>
        </div>
       </div>
    </div>
  </div>
   </div>
  </form>
  </div>
  <!----------------------------------Default_Address--------------------------------------->


  <!----------------------------------------Footer--------------------------------------->

  <footer class="site-footer border-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="row">
            <div class="col-md-12">
              <h3 class="footer-heading mb-4">Navigations</h3>
            </div>
            <div class="col-md-6 col-lg-4">
              <ul class="list-unstyled">
                <li><a href="#">Sell online</a></li>
                <li><a href="#">Features</a></li>
                <li><a href="#">Shopping cart</a></li>
                <li><a href="#">Store builder</a></li>
              </ul>
            </div>
            <div class="col-md-6 col-lg-4">
              <ul class="list-unstyled">
                <li><a href="#">Mobile commerce</a></li>
                <li><a href="#">Dropshipping</a></li>
                <li><a href="#">Website development</a></li>
              </ul>
            </div>
            <div class="col-md-6 col-lg-4">
              <ul class="list-unstyled">
                <li><a href="#">Point of sale</a></li>
                <li><a href="#">Hardware</a></li>
                <li><a href="#">Software</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
          <h3 class="footer-heading mb-4">Promo</h3>
          <a href="#" class="block-6">
            <img src="" alt="Image placeholder" class="img-fluid rounded mb-4">
            <h3 class="font-weight-light  mb-0">Finding Your Perfect Shoes</h3>
            <p>Promo from nuary 15 &mdash; 25, 2019</p>
          </a>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="block-5 mb-5">
            <h3 class="footer-heading mb-4">Contact Info</h3>
            <ul class="list-unstyled">
              <li class="address">203 Fake St. Mountain View, San Francisco, California, USA</li>
              <li class="phone"><a href="tel://23923929210">+2 392 3929 210</a></li>
              <li class="email">emailaddress@domain.com</li>
            </ul>
          </div>

          <div class="block-7">
            <form action="#" method="post">
              <label for="email_subscribe" class="footer-heading">Subscribe</label>
              <div class="form-group">
                <input type="text" class="form-control py-4" id="email_subscribe" placeholder="Email">
                <input type="submit" class="btn btn-sm btn-primary" value="Send">
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="row pt-5 mt-5 text-center">
        <div class="col-md-12">
          <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;
            <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
            <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made
            with
            <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank"
              class="text-primary">Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
        </div>

      </div>
    </div>
  </footer>
  </div>
  <script>
    // Function to validate the address form
    const validateAddressForm = () => {
      // Get form inputs
      const country = document.getElementById('country').value;
      const firstName = document.getElementById('firstName').value;
      const lastName = document.getElementById('lastName').value;
      const address = document.getElementById('address').value;
      const landmark = document.getElementById('landmark').value;
      const state = document.getElementById('state').value;
      const zip = document.getElementById('zip').value;
      const email = document.getElementById('email').value;
      const phone = document.getElementById('phone').value;

      // Regular expressions for validation
      const nameRegex = /^[a-zA-Z]+$/;
      const addressRegex = /^[a-zA-Z0-9\s,'-]+$/;
      const stateRegex = /^[a-zA-Z\s]+$/;
      const zipRegex = /^\d{6}(?:-\d{4})?$/;
      const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
      const phoneRegex = /^\d{10}$/;

      // Validate each field
      if (
        country === 'Select a country' ||
        !nameRegex.test(firstName) ||
        !nameRegex.test(lastName) ||
        !addressRegex.test(address) ||
        !addressRegex.test(landmark) ||
        !stateRegex.test(state) ||
        !zipRegex.test(zip) ||
        !emailRegex.test(email) ||
        !phoneRegex.test(phone)
      ) {
        alert('Please Enter Valid Data.');
        return false;
      }

      return true;
    }
  </script>


  <script src="/javascripts/jquery-3.3.1.min.js"></script>
  <script src="/javascripts/jquery-ui.js"></script>
  <script src="/javascripts/popper.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
  <script src="/javascripts/owl.carousel.min.js"></script>
  <script src="/javascripts/jquery.magnific-popup.min.js"></script>
  <script src="/javascripts/aos.js"></script>
  <script src="/javascripts/main.js"></script>
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>


    <!--  script for copying the coupon code into the text field -->
    
    <script>
      document.getElementById('availableCoupons').addEventListener('change', function () {
        const selectedCoupon = this.value;
        document.getElementById('couponCodeInput').value = selectedCoupon;
      });
    </script>
  
    <script>
      $(document).ready(function () {
        $('#availableCoupons').on('change', function () {
          const selectedCouponName = $('#availableCoupons option:selected').text().trim();
  
  
          $('#couponCodeInput').val(selectedCouponName);
        });
  
        $('#applyCouponButton').on('click', function () {
          const couponCode = $('#couponCodeInput').val();
  
        });
      });
    </script>

<!-- script for applying the coupon and also removing the applied coupon -->
<script>
  $(document).ready(function () {
    // Update coupon input when selecting from the dropdown
    $('#availableCoupons').on('change', function () {
      const selectedCouponName = $('#availableCoupons option:selected').text().trim();
      $('#couponCodeInput').val(selectedCouponName);
    });

    // Apply or remove coupon logic
    $('#applyCouponButton').on('click', function (event) {
      event.preventDefault();

      const couponCode = $('#couponCodeInput').val();
      const totalPrice = parseFloat($('#totalPrice').text());
      const button = $(this);

      // Check if the button text is "Apply" or "Remove"
      if (button.text() === "Apply") {
        // Apply coupon logic here

        $.ajax({
          type: 'POST',
          url: '/applyCoupon',
          data: { couponCode: couponCode, totalPrice: totalPrice },
          success: function (data) {
            $('#grantTotal').text(data.grantTotal);
            $('#couponDiscount').text(data.couponDiscount);
            // Change button text to "Remove" after applying the coupon
            button.text("Remove");
          },
          error: function (xhr) {
            const errorMessage = xhr.responseJSON.error;
            if (errorMessage) {
              alert("Insufficient purchase amount to claim this Coupon!!!");
            } else {
              alert('An error occurred while applying the coupon.');
            }
          }
        });
      } else if (button.text() === "Remove") {
        // Remove coupon logic here

        $.ajax({
          type: 'POST',
          url: '/removeCoupon',
          data: { totalPrice: totalPrice },
          success: function (data) {
            $('#grantTotal').text(data.grantTotal);
            $('#couponDiscount').text(data.couponDiscount);
            // Change button text back to "Apply" after removing the coupon
            button.text("Apply");
            // location.reload()
          },
          error: function (xhr) {
            alert('An error occurred while removing the coupon.');
          }
        });
      }
    });
  });
</script>







  <script>
    //place order Button
    // document.getElementById('placeOrderBtn').addEventListener('click', () => {
    //   document.getElementById('addressForm').submit();
    // });

    //Selcted address
    var form = document.getElementById('addressForm');
    document.addEventListener('DOMContentLoaded', () => {
      var radioButtons = document.querySelectorAll('input[name="selectedAddress"]');

      if (radioButtons.length === 0 || !form) {
        console.error('Error: Radio buttons or form not found.');
        return;
      }

      radioButtons.forEach(function (radioButton) {
        radioButton.addEventListener('change', function () {

          let formData = new FormData(form);
          formData.set('selectedAddress', this.value);


          console.log('Selected Address:', this.value);

        });
      });

      // form.addEventListener('submit', (event) => {
      //   event.preventDefault(); // Prevent the actual form submission for testing
      //   console.log('Form Submitted. Form Data:', new FormData(form));
      //   // Uncomment the line below for actual form submission
      //   // form.submit();
      // });
    });


    //payment method
    var selectedMethod
    document.addEventListener('DOMContentLoaded', function () {
      var paymentMethodButtons = document.querySelectorAll('.list-group-item');

      paymentMethodButtons.forEach(function (button) {
        button.addEventListener('click', function () {
          selectedMethod = this.getAttribute('data-method');
          document.getElementById('paymentMethod').value = selectedMethod;

          // Log to console for checking
          console.log('Selected Payment Method:', selectedMethod);
          console.log('Hidden Input Value:', document.getElementById('paymentMethod').value);
        });
      });
    });
     

    //<!----------------------------RazorPay------------------------------------->
    form.addEventListener('submit', (event) => {
      event.preventDefault();
      var paymentType = selectedMethod
      console.log("payment ",paymentType);
      
      // Get the selected payment method
      if (paymentType == 'NetBanking') {
        console.log("inside net");
        var razorpayKey = 'rzp_test_rII4CJ8DT2Ox30';
        
        // Fetch other necessary details for the payment
        var totalPriceInRupees = document.querySelector('input[name="total"]').value;
            var totalPriceInPaisa = Math.round(parseFloat(totalPriceInRupees) * 100);

            fetch('/payOrder', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json',
              },
              body: JSON.stringify({ totalPrice: totalPriceInPaisa }),
            })

          .then(response => response.json())

          .then(order => {
            console.log(order);
            //  her iam  Initialize Razorpay
            const  options = {
            key: 'rzp_test_rII4CJ8DT2Ox30',
            amount: order.amount,
            currency: order.currency,
            order_id: order.id,
            name: 'CHRONOCOVE',
            description: 'Payment for your orders',
            theme:{
                color:"#7971ea"
            },
            handler: function (response) {
                // here handling the success response
                console.log('Payment success:', response);
  
                form.submit();
              },
              prefill: {
                name: 'User Name',
                email: 'user@example.com',
              },
            };
  
            var rzp = new Razorpay(options);
            rzp.open();
          })
          .catch(error => {
            console.error('Error creating Razorpay order:', error);
          });
      } else if (paymentType === 'CashOnDelivery') {
        form.submit();
      } else {
        alert('Invalid payment method selected.');
      }
    });


  </script>

</body>

</html>