<!DOCTYPE html>
<html lang="en">

<head>
  <title> CHRONOCOVE</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">

  <link rel="stylesheet" href="/fonts/icomoon/style.css">



  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/magnific-popup.css">
  <link rel="stylesheet" href="/stylesheets/jquery-ui.css">
  <link rel="stylesheet" href="/stylesheets/owl.carousel.min.css">
  <link rel="stylesheet" href="/stylesheets/owl.theme.default.min.css">
  <link rel="stylesheet" href="/stylesheets/checkout.css">



  <link rel="stylesheet" href="/stylesheets/aos.css">

  <link rel="stylesheet" href="/stylesheets/style.css">

  <link rel="stylesheet" href="/stylesheets/aos.css">
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

  <!-- <style> 
    /* Custom styles to position the Sign Out button */
    /* .signout-button {
        top: -184px;
        right: 10px;
      } */
     
  /* </style> */-->

   


</head>

<body>

  <div class="site-wrap">
    <header class="site-navbar" role="banner">
      <div class="site-navbar-top">
        <div class="container">
          <div class="row align-items-center">

            <div class="col-6 col-md-4 order-2 order-md-1 site-search-icon text-left">
              <form action="" class="site-block-top-search">
                <span class="icon icon-search2"></span>
                <input type="text" class="form-control border-0" placeholder="Search">
              </form>
            </div>

            <div class="col-12 mb-3 mb-md-0 col-md-4 order-1 order-md-2 text-center">
              <div class="site-logo">
                <a href="/" class="js-logo-clone">CHRONOCOVE</a>
              </div>
            </div>

            <div class="col-6 col-md-4 order-3 order-md-3 text-right">
              <div class="site-top-icons">
                <ul>
                  <li><a href="/profile"><span class="icon icon-person"></span></a></li>
                  <li><a href="/wishlist"><span class="icon icon-heart-o"></span></a></li>
                  <li>
                    <a href="/cartGet" class="site-cart">
                      <span class="icon icon-shopping_cart"></span>
                      <span class="count">2</span>
                    </a>
                  </li>
                  <li class="d-inline-block d-md-none ml-md-0"><a href="#" class="site-menu-toggle js-menu-toggle"><span
                        class="icon-menu"></span></a></li>
                       
                </ul>

              </div>
            </div>
          </div>
        </div>

      </div>
      <nav class="site-navigation text-right text-md-center" role="navigation">
        <div class="container">
          <ul class="site-menu js-clone-nav d-none d-md-block">
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/about">About</a>
            </li>
            <li><a href="/shop">Shop</a></li>
            <li><a href="#">Search</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div>
        <div class="col-12 text-right">

        </div>
  </div>
  </nav>
  </header>

   <!-- User/editAddress.ejs -->
<div class="col-md-6 my-auto mx-auto">
   <form method="post" action="/editAddressPost/<%= address._id %>" class="ml-3 mx-5 " id="editAddressForm" onsubmit="return validateAddressForm()">
    <div class="form-group">
        <label for="country" class="text-black">Country <span class="text-danger">*</span></label>
        <select id="country" name="country" class="form-control">
            <option value="Select a country">Select a country</option>
            <option value="India" <%= (address && address.country === 'India') ? 'selected' : '' %>>India</option>
            <option value="India" <%= (address && address.country === 'USA') ? 'selected' : '' %>>USA</option>
            <option value="India" <%= (address && address.country === 'Germany') ? 'selected' : '' %>>Germany</option>
            <option value="India" <%= (address && address.country === 'Ghana') ? 'selected' : '' %>>Ghana</option>
            <option value="India" <%= (address && address.country === 'Albania') ? 'selected' : '' %>>Albania</option>
            <option value="India" <%= (address && address.country === 'Bahrain') ? 'selected' : '' %>>Bahrain</option>
            <option value="India" <%= (address && address.country === 'Colombia') ? 'selected' : '' %>>Colombia</option>
            <option value="India" <%= (address && address.country === 'Paris') ? 'selected' : '' %>>Paris</option>
            <!-- Add other options with similar structure -->
        </select>

        <label for="firstName" class="text-black">First Name <span class="text-danger">*</span></label>
        <input type="text" class="form-control" id="firstName" name="firstName" value="<%= (address && address.firstName) ? address.firstName : '' %>">

        <label for="lastName" class="text-black">Last Name <span class="text-danger">*</span></label>
        <input type="text" class="form-control" id="lastName" name="lastName" value="<%= (address && address.lastName) ? address.lastName : '' %>">

        <label for="address" class="text-black">Address <span class="text-danger">*</span></label>
        <input type="text" class="form-control" id="address" name="address" value="<%= (address && address.address) ? address.address : '' %>">

        <label for="landmark" class="text-black">Landmark <span class="text-danger">*</span></label>
        <input type="text" class="form-control" id="landmark" name="landmark" value="<%= (address && address.landmark) ? address.landmark : '' %>">

        <div class="form-group row">
          <div class="col-md-6">
              <label for="state" class="text-black">State <span class="text-danger">*</span></label>
              <input type="text" class="form-control" id="state" name="state" value="<%= (address && address.state) ? address.state : '' %>">
          </div>
          <div class="col-md-6">
              <label for="zip" class="text-black">Postal / Zip <span class="text-danger">*</span></label>
              <input type="text" class="form-control" id="zip" name="zip" value="<%= (address && address.zip) ? address.zip : '' %>">
          </div>
      </div>

      <div class="form-group row mb-5">
          <div class="col-md-6">
              <label for="email" class="text-black">Email Address <span class="text-danger">*</span></label>
              <input type="text" class="form-control" id="email" name="email" value="<%= (address && address.email) ? address.email : '' %>">
          </div>
          <div class="col-md-6">
              <label for="phone" class="text-black">Phone <span class="text-danger">*</span></label>
              <input type="text" class="form-control" id="phone" name="phone" value="<%= (address && address.phone) ? address.phone : '' %>">
          </div>
      </div>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary">Save</button>
</div>

</form>
</div>

<script>
  // Function to validate the address form
  const validateAddressForm = () => {
    const country = document.getElementById('country').value;
    const firstName = document.getElementById('firstName').value;
    const lastName = document.getElementById('lastName').value;
    const address = document.getElementById('address').value;
    const landmark = document.getElementById('landmark').value;
    const state = document.getElementById('state').value;
    const zip = document.getElementById('zip').value;
    const email = document.getElementById('email').value;
    const phone = document.getElementById('phone').value;

    // Regular expressions for validation
    const nameRegex = /^[a-zA-Z]+$/;
    const addressRegex = /^[a-zA-Z0-9\s,'-]+$/;
    const stateRegex = /^[a-zA-Z\s]+$/;
    const zipRegex = /^\d{6}(?:-\d{4})?$/;
    const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
    const phoneRegex = /^\d{10}$/;

    // Validate each field
    if (
      country === 'Select a country' ||
      !nameRegex.test(firstName) ||
      !nameRegex.test(lastName) ||
      !addressRegex.test(address) ||
      !addressRegex.test(landmark) ||
      !stateRegex.test(state) ||
      !zipRegex.test(zip) ||
      !emailRegex.test(email) ||
      !phoneRegex.test(phone)
    ) {
      alert('Please Enter Valid Data.');
      return false;
    }

    return true;
  }
</script>


  <script src="/javascripts/jquery-3.3.1.min.js"></script>
  <script src="/javascripts/jquery-ui.js"></script>
  <script src="/javascripts/popper.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
  <script src="/javascripts/owl.carousel.min.js"></script>
  <script src="/javascripts/jquery.magnific-popup.min.js"></script>
  <script src="/javascripts/aos.js"></script>
  <script src="/javascripts/main.js"></script>

</body>

</html>