<!DOCTYPE html>
<html lang="en">
  <%-include("../partials/head.ejs")%>

  <body>
  
    <%-include("../partials/headers.ejs")%>

    <div class="container mt-5" style=" box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; " >
      <div class="row">
        <div class="col-12 text-black">
          <h1 class="text-center">Order Details</h1>
        </div>
      </div>
      
        
        
       <div class="row mt-4 text-black"  style="display: flex; justify-content: space-around;">
        <div class="col-6"    >
          <h4>Order ID:  <%= orderData._id %></h4>
          <p>Username : <%=userData.username%> </p>
          <p>Email : <%=userData.emailId%> </p>
          <p style="color: red;">Status: <%= orderData.status %></p>
          <p>Total Price: <%= orderData.orderTotal %></p>
          <p>Coupon Discount Price: </p>
          <h6>Payment Method : <%= orderData.paymentMethod %></h6>
          <p>Order Date:  <%= orderData.orderTime %></p>  
        </div>
        <div class="col-6">
          <h4>Shipping Address: <%=addressDetails.firstName%> <%=addressDetails.lastName%></h4>
          <p> Address : <%=addressDetails.address%></p>
          <p> Landmark : <%=addressDetails.landmark%></p>
          <p> State : <%=addressDetails.state%></p>
          <p> Zip : <%=addressDetails.zip%></p>
          <p> Ph No : <%=addressDetails.phone%></p>
        </div>
      </div>      
      <div class="row mt-4">
        <div class="col-12">
            <div class="scrollable-div" style="max-height: 300px; overflow-y: auto; box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;">
                <ul class="list-group">
                    <% orderData.items.forEach(item => { %>
                        <li class="list-group-item">
                            <div class="row text-black">
                                <div class="col-3">
                                  <img style="height: 100px; width: 100px;" src="/uploads/<%= orderProducts[item.productId].mainProductImage %>" alt="<%= orderProducts[item.productId].productName %>" class="img-fluid">

                                </div>
                                <div class="col-6">
                                    <h5><%= orderProducts[item.productId].productName %></h5>
                                    <p>Price: $<%= orderProducts[item.productId].productPrice %></p>
                                </div>
                                <div class="col-3">
                                    <p>Quantity: <%= item.quantity %></p>
                                </div>
                            </div>
                        </li>
                    <% }); %>
                </ul>
            </div>
        </div>
    </div>
</div>
    




<!-----------------------------------------Footer------------------------------------------>
     
<%-include("../partials/footer.ejs")%>

  </div>

  <script src="/javascripts/jquery-3.3.1.min.js"></script>
  <script src="/javascripts/jquery-ui.js"></script>
  <script src="/javascripts/popper.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
  <script src="/javascripts/owl.carousel.min.js"></script>
  <script src="/javascripts/jquery.magnific-popup.min.js"></script>
  <script src="/javascripts/aos.js"></script>
  <script src="/javascripts/main.js"></script>
    
  </body>
</html>