<!DOCTYPE html>
<html lang="en">

<%-include("../partials/head.ejs")%>

<body>

  <%-include("../partials/headers.ejs")%>

<!----------------------------------Profile_Card-------------------------------------------->
<section class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mb-4 mb-sm-5">
        <div class="card card-style1 border-0">
          <div class="card-body p-1-9 p-sm-2-3 p-md-6 p-lg-7">
            <div class="row align-items-center">
              <div class="col-lg-6 mb-4 mb-lg-0">
                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="profile Image">
              </div>
             
              <div class="col-lg-6 px-xl-10">
                <div class=" d-lg-inline-block py-1-9 px-sm-6 mb-1-9 rounded">
                  <h3 class="h2 text-black text-dark  mb-0"><%=userData.username%></h3>
                </div>
                <ul class="list-unstyled mb-1-9">
                  <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Email: </span><%=userData.emailId%></li>
                </ul>
                <a href="/myAddress" class="btn btn-primary btn-lg py-3 btn-block" style="width: 45%;"> My Address</a>
                <a href="/myOrders" class="btn btn-primary btn-lg py-3 btn-block" style="width: 45%;"> My Order</a>
                <a href="/changePassword" class="btn btn-primary btn-lg py-3 btn-block" style="width: 45%;">Change password</a>
                <a href="/walletHistory" class="btn btn-primary btn-lg py-3 btn-block" style="width: 45%;">Wallet:<%= userData.wallet?.balance ?? 0 %> </a>
                <br>
                <% if (locals.reference) { %>
                  <h6 class="mb-3">Reference Code: <%= reference.referenceCode %></h6>
              <% } %>
                <div class="input-group mb-3">
                  <input type="text" class="form-control" id="referenceCode" placeholder="Enter reference code">
                  <button class="btn btn-primary" id="claimButton" onclick="claimReferenceCode()">Claim</button>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


  <script src="/javascripts/jquery-3.3.1.min.js"></script>
  <script src="/javascripts/jquery-ui.js"></script>
  <script src="/javascripts/popper.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
  <script src="/javascripts/owl.carousel.min.js"></script>
  <script src="/javascripts/jquery.magnific-popup.min.js"></script>
  <script src="/javascripts/aos.js"></script>
  <script src="/javascripts/main.js"></script>

  <script>
    function showSimpleAlert(message, type) {
  alert(`${type.toUpperCase()}: ${message}`);
}

async function claimReferenceCode() {
  try {
    const referenceCode = document.getElementById('referenceCode').value;
    const response = await fetch('/claimReference', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({ referenceCode }),
    });

    if (response.ok) {
      const data = await response.json();
      showSimpleAlert(data.message, 'success');
    } else {
      const data = await response.json();
      showSimpleAlert(data.message, 'danger');
    }
  } catch (error) {
    console.error('Error claiming reference code:', error);
    showSimpleAlert('Error claiming reference code. Please try again later.', 'danger');
  }
}

  </script>

<div id="toastContainer" class="position-fixed top-0 end-0 p-3">
  <!-- Toasts will be dynamically added here -->
</div>
 
</body>

</html>