<!DOCTYPE html>
<html lang="en">

<%-include("../partials/head.ejs")%>


<body>

  <%-include("../partials/headers.ejs")%>
 

  <div class="site-section">
    <div class="container">
      <div class="row mb-5 ">
        <form class="col-md-12" method="post"> 
          <div class="site-blocks-table">
            <table class="table table-bordered">
              <% if(products.length > 0){ %>
              <thead>
                <tr>
                  <th class="product-thumbnail">IMAGE</th>
                  <th class="product-name">PRODUCT</th>
                  <th class="product-price">PRICE</th>
                  <th class="product-addtoCart">ADD TO CART</th>
                  <th class="product-remove">REMOVE</th>
                </tr>
              </thead>
              <tbody>
                <% products.forEach(data => { %>
                    <tr>
                      <td class="product-thumbnail">
                        <img src="/uploads/<%=data.mainProductImage%>" alt="Image" class="img-fluid">
                      </td>
                      <td class="product-name">
                        <h2 class="h5 text-black">
                          <h6><%=data.productName%></h6>
                        </h2>
                      </td>
                      <td>
                        <h6>$<%=data.productPrice%></h6>
                      </td>       
                      <td>
                          <!-- <button type="submit" class="buy-now btn btn-sm btn-primary "onclick="window.location('/wishlist/<%=data._id%>')" <% if (data.productQuantity <= 0) { %>disabled<% } %>>
                              Add to Cart <i class="fa-solid fa-cart-shopping"></i>
                          </button> -->

                          <form action="/cart/<%=products._id%>" method="post">
                            <input type="hidden" name="productId" value="<%= products._id %>">
                            <button type="submit" class="buy-now btn btn-sm btn-primary" <% if (products.productQuantity <= 0) { %>disabled<% } %>>
                                Add to Cart <i class="fa-solid fa-cart-shopping"></i>
                            </button>
                        </form>
                      </td>       
                      <td id="wishlist-<%=data._id %>">
                        <a href="/wishlist" class="btn btn-primary btn-sm" onclick="deleteWishlistProduct('<%= data._id %>',event)">X</a>
                        <!-- Example usage in HTML -->
<!-- <button onclick="deleteWishlistProduct('productId', event)">Delete</button> -->

                      </td>
                                
                    </tr>
                    <% }); %>
                    <% }else{ %>
                      <tr>
                        <h1 style="color: red;" >uh! Wishlist is empty!</h1>
                      </tr>
                      <% }; %>
                    </tbody>
              

            </table>
          </div>
        </form>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="row mb-5">
            <!-- <div class="col-md-6 mb-3 mb-md-0">
              <button class="btn btn-primary btn-sm btn-block">Update Cart</button>
            </div> -->
             
          </div>
           
        </div>
         
      </div>
    </div>
  </div>

  <%-include("../partials/footer.ejs")%>

  </div>

  <script src="/javascripts/jquery-3.3.1.min.js"></script>
  <script src="/javascripts/jquery-ui.js"></script>
  <script src="/javascripts/popper.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
  <script src="/javascripts/owl.carousel.min.js"></script>
  <script src="/javascripts/jquery.magnific-popup.min.js"></script>
  <script src="/javascripts/aos.js"></script>
  <script src="/javascripts/main.js"></script>

</body>

</html>


  


 <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

 <script>
   // Close Button
   const deleteWishlistProduct = (productId, event) => {
     event.preventDefault();
     Swal.fire({
       title: 'Are you sure?',
       icon: 'warning',
       showCancelButton: true,
       confirmButtonColor: '#d33',
       cancelButtonColor: '#3085d6',
       confirmButtonText: 'Yes, delete it!'
     }).then((result) => {
       if (result.isConfirmed) {
         fetch(`/wishlist/${productId}`, {
           method: 'DELETE',
           headers: {
             'Content-Type': 'application/json'
           },
         })
           .then(res => {
             if (!res.ok) {
               throw new Error(`HTTP error! Status: ${res.status}`);
             }
             return res.json();
           })
           .then(data => {
             console.log('Data:', data)
             if (data.success) {
               const productRow = document.getElementById(`wishlist-${productId}`);
               if (productRow) {
                 productRow.remove();
               }

              //  Swal.fire('Deleted!', 'Your product has been deleted.', 'success');
              //  setTimeout(() => {
                // }, 1000);
               location.reload();
             } else {
               alert(`Failed to delete product.`);
             }
           })
           .catch(err => {
             console.error('Error deleting product:', err);
             alert('An error occurred. Please try again!!');
           });
       }
     });
   }
 </script>
 
